body{
    width: 50%;
    margin: auto;
}
div{background-color: peru;}

p{font-size: x-large;}

/*div p{Color: white;}

div > p
{
    font-family: cursive;
    color: pink;
}
div + p{text-decoration: underline;}*/

p ~ ul
{
    color: yellow;
    background-color: blue;
}



